<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update car</title>
</head>
<body>
<h3>Update car</h3>

<form action="#"
      th:action="@{/update-car/{id}(id=${carToUpdate.id})}"
      th:object="${carToUpdate}" method="post">
    <p>Mark: <input type="text" th:field="*{mark}"></p>
    <p>Model: <input type="text" th:field="*{model}"></p>
    <p>Current Color: <td type="text" th:text="*{color.displayColor}"></p>
    <div>
        New Color:
    <select name="color">
        <option th:each="colorOpt : ${T(pl.szydlowski.restspringbootsimplecrud.model.Color).values()}"
                th:value="${colorOpt}" th:text="${colorOpt.displayColor}"></option>
    </select>
    </div>
    <p><input type="submit" value="update"></p>
</form>

</body>
</html>